<!-- page Home - page de bienvenue -->
<div class="container" style="width: 100%;">
  <main role="main">

    <div class="container" style="width: 100%;">
      <h1 class="display-4">Atos, App!</h1>
      <div><img src="https://www.lalettrea.fr/utils/imageresize?x=800&web=1&file64=V29ya2Zsb3dcTExBX2F0b3Nfc2llZ2UuanBn" alt="image-siege-atos">
        <p class="lead" style="text-align: justify;">Atos est une entreprise de services du numérique (ESN) française, créée en 1997. Elle fait partie des 10 plus grandes ESN au niveau mondial, avec un chiffre d'affaires annuel de près de 11 milliards d'euros en 2019 et environ 110 000 employés répartis dans 73 pays. Le groupe, leader européen du cloud, de la cybersécurité et du supercalcul depuis son rachat de Bull, est coté au CAC 40. Atos est depuis 2001 le partenaire informatique mondial des Jeux olympiques et paralympiques.</p>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="container" style="width: 100%;">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2019-2020 Stagiaires, Ifa. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </main>


</div>
